<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baidu.dao.ScoreTaskMapper" >
  <resultMap id="BaseResultMap" type="com.baidu.domain.ScoreTask" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="scoreId" property="scoreid" jdbcType="VARCHAR" />
    <result column="schoolId" property="schoolid" jdbcType="INTEGER" />
    <result column="gradeYearId" property="gradeyearid" jdbcType="BIGINT" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="examName" property="examname" jdbcType="VARCHAR" />
    <result column="fileUrl" property="fileurl" jdbcType="VARCHAR" />
    <result column="studentNum" property="studentnum" jdbcType="INTEGER" />
    <result column="scoreStudentNum" property="scorestudentnum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="BIGINT" />
    <result column="lastModifier" property="lastmodifier" jdbcType="VARCHAR" />
    <result column="lastModDate" property="lastmoddate" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, scoreId, schoolId, gradeYearId, grade, examName, fileUrl, studentNum, scoreStudentNum, 
    status, publisher, createDate, lastModifier, lastModDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baidu.domain.ScoreTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from score_score_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from score_score_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from score_score_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.baidu.domain.ScoreTask" >
    insert into score_score_task (id, scoreId, schoolId, 
      gradeYearId, grade, examName, 
      fileUrl, studentNum, scoreStudentNum, 
      status, publisher, createDate, 
      lastModifier, lastModDate)
    values (#{id,jdbcType=BIGINT}, #{scoreid,jdbcType=VARCHAR}, #{schoolid,jdbcType=INTEGER}, 
      #{gradeyearid,jdbcType=BIGINT}, #{grade,jdbcType=VARCHAR}, #{examname,jdbcType=VARCHAR}, 
      #{fileurl,jdbcType=VARCHAR}, #{studentnum,jdbcType=INTEGER}, #{scorestudentnum,jdbcType=INTEGER}, 
      #{status,jdbcType=TINYINT}, #{publisher,jdbcType=VARCHAR}, #{createdate,jdbcType=BIGINT}, 
      #{lastmodifier,jdbcType=VARCHAR}, #{lastmoddate,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.baidu.domain.ScoreTask" >
    insert into score_score_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="scoreid != null" >
        scoreId,
      </if>
      <if test="schoolid != null" >
        schoolId,
      </if>
      <if test="gradeyearid != null" >
        gradeYearId,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="examname != null" >
        examName,
      </if>
      <if test="fileurl != null" >
        fileUrl,
      </if>
      <if test="studentnum != null" >
        studentNum,
      </if>
      <if test="scorestudentnum != null" >
        scoreStudentNum,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="lastmodifier != null" >
        lastModifier,
      </if>
      <if test="lastmoddate != null" >
        lastModDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="scoreid != null" >
        #{scoreid,jdbcType=VARCHAR},
      </if>
      <if test="schoolid != null" >
        #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="gradeyearid != null" >
        #{gradeyearid,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="examname != null" >
        #{examname,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null" >
        #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="studentnum != null" >
        #{studentnum,jdbcType=INTEGER},
      </if>
      <if test="scorestudentnum != null" >
        #{scorestudentnum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=BIGINT},
      </if>
      <if test="lastmodifier != null" >
        #{lastmodifier,jdbcType=VARCHAR},
      </if>
      <if test="lastmoddate != null" >
        #{lastmoddate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baidu.domain.ScoreTaskExample" resultType="java.lang.Integer" >
    select count(*) from score_score_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update score_score_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.scoreid != null" >
        scoreId = #{record.scoreid,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolid != null" >
        schoolId = #{record.schoolid,jdbcType=INTEGER},
      </if>
      <if test="record.gradeyearid != null" >
        gradeYearId = #{record.gradeyearid,jdbcType=BIGINT},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.examname != null" >
        examName = #{record.examname,jdbcType=VARCHAR},
      </if>
      <if test="record.fileurl != null" >
        fileUrl = #{record.fileurl,jdbcType=VARCHAR},
      </if>
      <if test="record.studentnum != null" >
        studentNum = #{record.studentnum,jdbcType=INTEGER},
      </if>
      <if test="record.scorestudentnum != null" >
        scoreStudentNum = #{record.scorestudentnum,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.publisher != null" >
        publisher = #{record.publisher,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        createDate = #{record.createdate,jdbcType=BIGINT},
      </if>
      <if test="record.lastmodifier != null" >
        lastModifier = #{record.lastmodifier,jdbcType=VARCHAR},
      </if>
      <if test="record.lastmoddate != null" >
        lastModDate = #{record.lastmoddate,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update score_score_task
    set id = #{record.id,jdbcType=BIGINT},
      scoreId = #{record.scoreid,jdbcType=VARCHAR},
      schoolId = #{record.schoolid,jdbcType=INTEGER},
      gradeYearId = #{record.gradeyearid,jdbcType=BIGINT},
      grade = #{record.grade,jdbcType=VARCHAR},
      examName = #{record.examname,jdbcType=VARCHAR},
      fileUrl = #{record.fileurl,jdbcType=VARCHAR},
      studentNum = #{record.studentnum,jdbcType=INTEGER},
      scoreStudentNum = #{record.scorestudentnum,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      publisher = #{record.publisher,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=BIGINT},
      lastModifier = #{record.lastmodifier,jdbcType=VARCHAR},
      lastModDate = #{record.lastmoddate,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.domain.ScoreTask" >
    update score_score_task
    <set >
      <if test="scoreid != null" >
        scoreId = #{scoreid,jdbcType=VARCHAR},
      </if>
      <if test="schoolid != null" >
        schoolId = #{schoolid,jdbcType=INTEGER},
      </if>
      <if test="gradeyearid != null" >
        gradeYearId = #{gradeyearid,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="examname != null" >
        examName = #{examname,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null" >
        fileUrl = #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="studentnum != null" >
        studentNum = #{studentnum,jdbcType=INTEGER},
      </if>
      <if test="scorestudentnum != null" >
        scoreStudentNum = #{scorestudentnum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=BIGINT},
      </if>
      <if test="lastmodifier != null" >
        lastModifier = #{lastmodifier,jdbcType=VARCHAR},
      </if>
      <if test="lastmoddate != null" >
        lastModDate = #{lastmoddate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.domain.ScoreTask" >
    update score_score_task
    set scoreId = #{scoreid,jdbcType=VARCHAR},
      schoolId = #{schoolid,jdbcType=INTEGER},
      gradeYearId = #{gradeyearid,jdbcType=BIGINT},
      grade = #{grade,jdbcType=VARCHAR},
      examName = #{examname,jdbcType=VARCHAR},
      fileUrl = #{fileurl,jdbcType=VARCHAR},
      studentNum = #{studentnum,jdbcType=INTEGER},
      scoreStudentNum = #{scorestudentnum,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      publisher = #{publisher,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=BIGINT},
      lastModifier = #{lastmodifier,jdbcType=VARCHAR},
      lastModDate = #{lastmoddate,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!--获取考试成绩-->
    <select id="selectExamResults" resultType="java.util.Map"  parameterType="java.util.Map" statementType="STATEMENT">
    <![CDATA[


select examName as examName,studentNum as sNum,createDate  from score_score_task  where schoolId= ${schoolId} and gradeYearId= ${gradeYearId}


        ]]>

  </select>
</mapper>